*.o
*.obj
*.obj2
*.swp
*.lib
.DS_Store
ok/*

bim2bi4w/bim2bin
bim2hrb/bim2hrb
bin2obj0/bin2obj
edimg0j/edimg
go_0023s/cp/0
go_0023s/gcc/gocc1
go_0023s/gcc/gocc1plus
go_0023s/gcc/gocpp0
go_0023s/toolstdc/gas2nask
go_0023s/toolstdc/golib00
go_0023s/toolstdc/nask
go_0023s/toolstdc/naskcnv0
go_0023s/toolstdc/sjisconv
makefont/makefont
obj2bi4d/obj2bim
t5lzma/t5lzma
